# Exclude environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# VS Code settings
.vscode/

# Virtual environment
venv/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
